<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" >
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/identity-provider-settings">{{:: 'identity-providers' | translate}}</a></li>
        <li data-ng-show="!newIdentityProvider && identityProvider.displayName">{{identityProvider.displayName}}</li>
        <li data-ng-show="!newIdentityProvider && !identityProvider.displayName">{{identityProvider.alias}}</li>
        <li data-ng-show="newIdentityProvider">{{:: 'add-identity-provider' | translate}}</li>
    </ol>

    <kc-tabs-identity-provider></kc-tabs-identity-provider>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageIdentityProviders">
        <fieldset>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="redirectUri">{{:: 'redirect-uri' | translate}}</label>
                <div class="col-sm-6">
                    <input class="form-control" id="redirectUri" type="text" value="{{callbackUrl}}{{identityProvider.alias}}/endpoint" readonly kc-select-action="click">
                </div>
                <kc-tooltip>{{:: 'redirect-uri.tooltip' | translate}}</kc-tooltip>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="identifier"><span class="required">*</span> {{:: 'alias' | translate}}</label>
                <div class="col-md-6">
                    <input kc-no-reserved-chars class="form-control" id="identifier" type="text" ng-model="identityProvider.alias" data-ng-readonly="!newIdentityProvider" required>
                </div>
                <kc-tooltip>{{:: 'identity-provider.alias.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="displayName"> {{:: 'display-name' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="displayName" type="text" ng-model="identityProvider.displayName">
                </div>
                <kc-tooltip>{{:: 'identity-provider.display-name.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="enabled">{{:: 'enabled' | translate}}</label>
                <div class="col-md-6">
                    <input ng-model="identityProvider.enabled" id="enabled" onoffswitch on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
                </div>
                <kc-tooltip>{{:: 'identity-provider.enabled.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="storeToken">{{:: 'store-tokens' | translate}}</label>
                <div class="col-md-6">
                    <input ng-model="identityProvider.storeToken" id="storeToken" onoffswitch on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
                </div>
                <kc-tooltip>{{:: 'identity-provider.store-tokens.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="storedTokensReadable">{{:: 'stored-tokens-readable' | translate}}</label>
                <div class="col-md-6">
                    <input ng-model="identityProvider.addReadTokenRoleOnCreate" id="storedTokensReadable" onoffswitch on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
                </div>
                <kc-tooltip>{{:: 'identity-provider.stored-tokens-readable.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="trustEmail">{{:: 'trust-email' | translate}}</label>
                <div class="col-md-6">
                    <input ng-model="identityProvider.trustEmail" name="identityProvider.trustEmail" id="trustEmail" onoffswitch on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
                </div>
                <kc-tooltip>{{:: 'trust-email.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="linkOnly">{{:: 'link-only' | translate}}</label>
                <div class="col-md-6">
                    <input ng-model="identityProvider.linkOnly" name="identityProvider.trustEmail" id="linkOnly" onoffswitch on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
                </div>
                <kc-tooltip>{{:: 'link-only.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="hideOnLoginPage">{{:: 'hide-on-login-page' | translate}}</label>
                <div class="col-md-6">
                    <input ng-model="identityProvider.config.hideOnLoginPage" name="identityProvider.config.hideOnLoginPage" id="hideOnLoginPage" onoffswitchvalue on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
                </div>
                <kc-tooltip>{{:: 'hide-on-login-page.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="guiOrder">{{:: 'gui-order' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="guiOrder" type="text" ng-model="identityProvider.config.guiOrder">
                </div>
                <kc-tooltip>{{:: 'gui-order.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="firstBrokerLoginFlowAlias">{{:: 'first-broker-login-flow' | translate}}</label>
                <div class="col-md-6">
                    <div>
                        <select class="form-control" id="firstBrokerLoginFlowAlias"
                                ng-model="identityProvider.firstBrokerLoginFlowAlias"
                                ng-options="flow.alias as flow.alias for flow in authFlows"
                                required>
                        </select>
                    </div>
                </div>
                <kc-tooltip>{{:: 'first-broker-login-flow.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="postBrokerLoginFlowAlias">{{:: 'post-broker-login-flow' | translate}}</label>
                <div class="col-md-6">
                    <div>
                        <select class="form-control" id="postBrokerLoginFlowAlias"
                                ng-model="identityProvider.postBrokerLoginFlowAlias"
                                ng-options="flow.alias as flow.alias for flow in postBrokerAuthFlows">
                        </select>
                    </div>
                </div>
                <kc-tooltip>{{:: 'post-broker-login-flow.tooltip' | translate}}</kc-tooltip>
            </div>
        </fieldset>
        <fieldset>
            <legend uncollapsed><span class="text">{{:: 'bankid.config' | translate}}</span> <kc-tooltip>{{:: 'bankid.config.tooltip' | translate}}</kc-tooltip></legend>

            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="bankid_apiurl"><span class="required">*</span> {{:: 'bankid.bankid_apiurl' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="bankid_apiurl" type="text" ng-model="identityProvider.config.bankid_apiurl" required>
                </div>
                <kc-tooltip>{{:: 'bankid.bankid_apiurl.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="bankid_keystore_file"><span class="required">*</span> {{:: 'bankid.bankid_keystore_file' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="bankid_keystore_file" type="text" ng-model="identityProvider.config.bankid_keystore_file" required>
                </div>
                <kc-tooltip>{{:: 'bankid.bankid_keystore_file.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="bankid_keystore_password"><span class="required">*</span> {{:: 'bankid.bankid_keystore_password' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control password-conceal" id="bankid_keystore_password" type="text" ng-model="identityProvider.config.bankid_keystore_password" required>
                </div>
                <kc-tooltip>{{:: 'bankid.bankid_keystore_password.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="bankid_privatekey_password"><span class="required">*</span> {{:: 'bankid.bankid_privatekey_password' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control password-conceal" id="bankid_privatekey_password" type="text" ng-model="identityProvider.config.bankid_privatekey_password" required>
                </div>
                <kc-tooltip>{{:: 'bankid.bankid_privatekey_password.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="bankid_truststore_file"><span class="required">*</span> {{:: 'bankid.bankid_truststore_file' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="bankid_truststore_file" type="text" ng-model="identityProvider.config.bankid_truststore_file" required>
                </div>
                <kc-tooltip>{{:: 'bankid.bankid_truststore_file.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="bankid_truststore_password"><span class="required">*</span> {{:: 'bankid.bankid_truststore_password' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control password-conceal" id="bankid_truststore_password" type="text" ng-model="identityProvider.config.bankid_truststore_password" required>
                </div>
                <kc-tooltip>{{:: 'bankid.bankid_truststore_password.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="bankid_require_nin">{{:: 'bankid.bankid_require_nin' | translate}}</label>
                <div class="col-md-6">
                    <input ng-model="identityProvider.config.bankid_require_nin" name="identityProvider.config.bankid_require_nin" id="bankid_require_nin" onoffswitchvalue on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
                </div>
                <kc-tooltip>{{:: 'bankid.bankid_require_nin.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="bankid_show_qr_code">{{:: 'bankid.bankid_show_qr_code' | translate}}</label>
                <div class="col-md-6">
                    <input ng-model="identityProvider.config.bankid_show_qr_code" name="identityProvider.config.bankid_show_qr_code" id="bankid_show_qr_code" onoffswitchvalue on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
                </div>
                <kc-tooltip>{{:: 'bankid.bankid_show_qr_code.tooltip' | translate}}</kc-tooltip>
            </div>            
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="bankid_save_nin_hash">{{:: 'bankid.bankid_save_nin_hash' | translate}}</label>
                <div class="col-md-6">
                    <input ng-model="identityProvider.config.bankid_save_nin_hash" name="identityProvider.config.bankid_save_nin_hash" id="bankid_save_nin_hash" data-ng-readonly="!newIdentityProvider" onoffswitchvalue on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
                </div>
                <kc-tooltip>{{:: 'bankid.bankid_save_nin_hash.tooltip' | translate}}</kc-tooltip>
            </div>
            
         </fieldset>

	<!-- STOP HERE -->

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save data-ng-disabled="!changed">{{:: 'save' | translate}}</button>
                <button kc-cancel data-ng-click="cancel()" data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>
