@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%, 25%, 100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}


body {
  height: calc(100vh - 32px);
  width: calc(100vw - 32px);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: stretch;
  align-content: stretch;
  background: white;
  grid-gap: 16px;
  margin: 16px 16px;
}

section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.section-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.header-icon {
  width: 82px;
  height: 82px;
}

.header-text {
  font-size: 32px;
  font-wight: 800;
  color: back;
  font-family: system-ui;
}

.section-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 16px;
}

.qr-img {
  height: 200px;
  width: 200px;
}

.section-footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 16px;
}

.bankId-login-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 12vw;
  background-image: linear-gradient(to right, #eb4916, #eb4916cf);
  border: none;
  border-radius: 50px;
  max-height: 80px;
  max-width: 600px;
}

.bankId-btn-logo {
  width: 48px;
  height: 48px;
}

.text-normal {
  font-size: 16px;
  color: black;
  font-family: system-ui;
}

.sign-in-btn-text {
  width: 100%;
  align-self: center;
  /* margin-left: -48px; */
  font-size: 16px;
  color: white;
  font-family: system-ui;
}

.cancel-btn {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 50px;
}
